<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>LocatoR - Location review</title>
  </head>

  <body style="overflow-y: scroll">
    <nav class="navbar">
      <div class="container flex">
        <div class="left">
          <a href=""><img src="../images/img.jpg" alt="" srcset="" /></a>
        </div>

        <div class="right">
          <ul class="flex">
            <li id="home">Home</li>
            <li id="services">
              Services
              <div class="dropdown">
                <a href="" onclick="err()">Register</a>
                <a href="" onclick="err()">Admin</a>
                <a href="" onclick="err()">Feedback</a>
              </div>
            </li>
            <li id="about" data-open="#aboutContent">About</li>
            <li id="support" data-open="#supportContent">Support</li>
            <li id="contact" data-open="#contactContent">Contact</li>
          </ul>
        </div>
      </div>
      <div id="theSwitch">
        <div class="switchContainer">
          <input
            type="checkbox"
            class="checkbox"
            id="checkbox"
            onclick="err()"
          />
          <label class="switch" for="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        <p class="component-title">Logged Out</p>
      </div>
    </nav>

    <div id="pop1">
      <div id="aboutContent" class="pop">
        <h2
          style="
            text-align: center;
            font-weight: 500;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
          "
        >
          About  LocatoR
        </h2>
        <div class="aboutInsideContent">
          <i class="fa-regular fa-circle-xmark fa-lg closeBtn" data-close></i>
          <p>Created On: 1st May - 18th May <br /></p>
          <p>
            Team Members: <br />
            <a href="">progress maharjan</a>,
            <a href="">sujal Maharjan</a>,
            <a href="">suzal khatri</a>
          </p>
        </div>
      </div>
      <div id="overlay" class="pop"></div>
    </div>

    <div id="pop2">
      <div id="supportContent" class="pop">
        <h2
          style="
            font-weight: 500;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
          "
        >
          Support Center
        </h2>
        <i class="fa-regular fa-circle-xmark fa-lg closeBtn" data-close></i>
        <div class="supportInsideContent">
          <img id="supportImg" src="../images/support_100.jpg" alt="" />
          <p>
            Leave us your queries below <br />
            <a
              href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSDZBLBjtWkJvVdGNnTxWNvVsjHWWNmfvFDRvZbCgdKJvhRBXcdZBCsJRHbzjthqpMQlQnvW"
              >progressmaharjan1@gmail.com</a
            ><br />
            Or call us at <br />
            <a href="" style="text-decoration: none">+977-9840510225</a>
          </p>
          <p>We will be happy to help you.</p>
        </div>
      </div>
      <div id="overlay" class="pop"></div>
    </div>

    <div id="pop3">
      <div id="contactContent" class="pop">
        <h2
          style="
            font-weight: 500;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
          "
        >
          Contact
        </h2>
        <i class="fa-regular fa-circle-xmark fa-lg closeBtn" data-close></i>
        <div class="contactInsideContent">
          <p>
            <i class="fa fa-location-dot"></i>

            Address: <br />
            Kirtipur-05, Kathmandu, Nepal <br />
          </p>
          <p>
            <i class="fa fa-phone"></i>
            Phone: <br />
            +977-9840510225 <br />
            +977-9840510225 <br />
            +977-9840510225 <br />
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            Email: <br />
            <a href="">progressmaharjan@gmail.com</a> <br />
            <a href="">sujaljjjj@gmail.com</a> <br />
            <a href="">khatrithesuzal@gmail.com</a> <br />
          </p>
          <div class="connect">
            Connect with us:<br />
            <a href=""
              ><i
                class="fa-brands fa-facebook fa-lg"
                style="padding: 2px 5px; color: black"
              ></i
            ></a>
            <a href=""
              ><i
                class="fa-brands fa-twitter fa-lg"
                style="padding: 2px 5px; color: black"
              ></i
            ></a>
            <a href=""
              ><i
                class="fa-brands fa-linkedin fa-lg"
                style="padding: 2px 5px; color: black"
              ></i
            ></a>
          </div>
        </div>
      </div>
      <div id="overlay" class="pop"></div>
    </div>

    <script src="../js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/e87b42cfc1.js"
      crossorigin="anonymous"
    ></script>

    <script>
      function err() {
        alert("Please login first");
        document.querySelector("#checkbox").checked = false;
      }
    </script>
  </body>
</html>
